<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="commandFile" value="shareman.shm" />
        <add key="sendEmail" value="true" />
        <add key="emailTo" value="ian.farr@future.ca" />
        <add key="emailFrom" value="shareman@farrworks.com" />
        <add key="emailSubject" value="Shareman alert message" />
        <add key="smtpServer" value="appsmtp.future.ca" />
    </appSettings>
</configuration>